.heartButton {
    font-size: 30px;
    border: 0;
    font-weight: bold;
    background-color: var(--color-blue-500);
    color: black;
    border-radius: 15px;
    border: black 2px solid;
    cursor: pointer;
    outline: none;
    transition: color 0.5s ease;
  }
  
  .heartButton.clicked {
    /* -webkit-animation: fadeinout 1.5s linear forwards;
    animation: fadeinout 1.5s linear forwards; */
    color: red;
  }
  
  @-webkit-keyframes fadeinout {
    0%, 100% {
      color: red;
    }
    50% {
      color: var(--color-blue-500);
    }
  }
  
  @keyframes fadeinout {
    0%, 100% {
      color: red;
    }
    50% {
      color: var(--color-blue-500);
    }
  }