.main-container {
  margin-top: 90px;
  background-color: #f0e8de;
  border-radius: 15px;
  min-height: 620px;
}

.contents {
  padding-top: 25px;
}

.title {
  color: #222222;
  padding-left: 25px;
  font-weight: 450;
  font-size: 55px;
}

.button {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid #ff5c00;
  color: #222222;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-diet:hover,
.button-category:hover {
  background-color: #ff5c00;
}

.buttons-container {
  display: list-item;
  justify-content: left;
  padding: 5px;
  padding-left: 25px;
  padding-top: 10px;
}

.buttons-container > * {
  margin-right: 10px;
}

.buttons-container > *:last-child {
  margin-right: 0;
}

.review-card {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
  width: 400px;
}

.recipeImage {
  width: 100%;
  height: fit-content;
  border-radius: 15px;
}
.recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the left */
    gap: 5px; /* Add 5px gaps between all the cards */
    margin-top: 10px;
    margin: 30px 35px;
    color: #222222;
  }
  

.recipe {
  width: calc(25% - 20px); /* 25% width for each card with some spacing */
  margin-bottom: 20px;
  box-sizing: border-box;
  /* border: 2px solid black; */
  padding: 10px;
}

.info-bullets {
    border-radius: 30px;
    color: #222222;
    background-color: #F4D06A;
    text-align: center;
    font-size: 16px;
    height: 35px;
    width: 100%; /* Adjusted width to fit within the recipe card */
    font-weight: 400;
  }